/*#pitch {

	background-image: url('../images/Style.jpg');
	background-repeat: no-repeat; 
	padding:150px 10px;
	background-size: cover;
	background-position: center;
	font-family: Volkhov;
	font-color:red;
	font-size: 40;

}

#padding {

	padding: 0px 40px 0px 40px;
}*/

.container .jumbotron
.container-fluid .jumbtron{
	border-radius: 0px;

}
#green{
	background-color:"green";

}

#blue{
	background-color:"blue";
}

#yellow {
		background-color:"red";
	}

#purple1{
	background-color:purple;
	
}
#purple2{
	background-color:"purple";
}

#purple3{
		background-color:"purple";
}
#white {
		background-color:"white";
}
#panel1, #flip{
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
#panel1 {
	padding: 50px;
    display: none;
}

#caption1{
		text-align: center;
		font-size: 40px;
		font-color: purple;
	}

#caption2{
		text-align: center;
		font-size: 40px;
		font-color: green;
}
#caption3{
		text-align: center;
		font-size: 40px;
		font-color: red;
	}
/*#container{
	background-color: #yyyvv;
	background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}*/

}