/*#pitch {

	background-image: url('../images/Style.jpg');
	background-repeat: no-repeat; 
	padding:150px 10px;
	background-size: cover;
	background-position: center;
	font-family: Volkhov;
	font-color:red;
	font-size: 40;

}

#padding {

	padding: 0px 40px 0px 40px;
}*/

.container .jumbotron
.container-fluid .jumbtron{
	border-radius: 0px;

}
#green{
	background-color:"green";

}

#blue{
	background-color:"blue";
}

#yellow {
		background-color:"red";
	}

#purple1{
	background-color:purple;
	
}
#purple2{
	background-color:"purple";
}

#purple3{
		background-color:"purple";
}
#white {
		background-color:"white";
}
